package components

templ TextCard(title string, text string) {
    <div class="w-full flex flex-col gap-1">
        if title != "" {
            <h1 class="text-text text-sm">{ title }</h1>
        }
      <p class="text-text-muted text-sm">{ text }</p>
    </div>
}