package components

// https://vidsrc-embed.ru/embed/movie/tt10687116
templ MoviePlayer() {
	<div class="w-full flex flex-col gap-2">
		<div class="w-full aspect-video rounded-lg overflow-hidden bg-text-muted-extra">
			<iframe src="https://vidsrc-embed.ru/embed/movie/tt10687116" allowfullscreen class="w-full h-full"></iframe>
		</div>
	</div>
}
