@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@theme {
  --color-bg-dark: #080808;
  --color-bg: #0a0a0a;
  --color-bg-light: #1a1a1a;

  --color-text: #ffffff;
  --color-text-muted: #8a8a8a;
  --color-text-muted-extra: #6a6a6a;

  --color-accent: #3b82f6;
  --color-accent-hover: #2563eb;
  --color-border: #2a2a2a;

  --font-family-sans: Satoshi, ui-sans-serif, system-ui, sans-serif;
}

* {
  background-color: var(--color-bg-dark);
  font-family: "Satoshi", ui-sans-serif, system-ui, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
