@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@theme {
  --color-bg-dark: #080808;
  --color-bg: #0a0a0a;
  --color-bg-light: #1a1a1a;

  --color-text: #ffffff;
  --color-text-muted: #8a8a8a;
  --color-text-muted-extra: #6a6a6a;

  --color-accent: #3b82f6;
  --color-accent-hover: #2563eb;
  --color-border: #2a2a2a;

  --font-family-sans: Satoshi, ui-sans-serif, system-ui, sans-serif;
}

* {
  font-family: "Satoshi", ui-sans-serif, system-ui, sans-serif;
}
